@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Niconne&family=PT+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Niconne&family=Oxygen:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.nav span { 
  font-weight: 700;
  font-size: 1.4rem;
}
.header-color {
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landign-grid {
  background: #fc466b;
  background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
  background: linear-gradient(to right, #3f5efb, #fc466b);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.name a {
  font-size: 1.9rem;
  color: white;
  text-decoration: none;
}

.avatar-img {
  height: 420px;
  padding: 4em;
  margin: auto;
  border-radius: 50%;
}
.avatar1-img {
  height: 250px;
  padding: 2em;
  margin-left: 2em;
  border-radius: 50%;
}
.back-img {
  height: 250px;
  width: 40%;
  margin: auto;
  opacity: 0.4;
}
.banner-text {
  width: 60%;
  padding: 3em;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}
.rate {
  margin-left: 2em;
}
#title {
  font-size: 14px;
  font-weight: 700;
  color: rgb(24, 7, 4);
}
.jobDesc {
  font-size: 16px;
  font-weight: 600;
  color: rgb(42, 6, 6);
}
.skill {
  display: flex;
  margin-left: 1em;
  color: #eefb3f;
}
.banner-text h2 {
  padding-top: 10px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.banner-text hr {
  border-top: 5px solid white;
  width: 70%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 1.5rem;
  padding: 1.2em;
}
.social-links {
  justify-content: space-between;
  width: 55%;
  display: flex;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 3em;
  
}

/*About me Page*/

 .about-body {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  margin: auto;
  background-size: cover;
  width: 100%;
  top: 0;
  padding: 2em;
  justify-content: center;
}
.about-grid {
  margin-bottom: 5vh;
  margin: 7vh auto;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  
}
 
.left-par {
  background: rgb(163, 158, 238);
  padding: 1em;
  height: 100%;
  border-radius: 24px;
}
.left-par p {
  
  font-size: 14px;
  font-weight: 600;
  color: rgb(42, 6, 6);
}
.right-side {
  background:rgb(153, 147, 238);
   border-radius: 24px;
   
}
.dev-name {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #052442;
}
.dev-job {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #052442;
}
.education {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: white;
  font-family: "PT Sans", cursive;
}
.link {
  text-decoration: none;
  font-weight: 500;
}
.about-left-col {
  padding-left: 1em;
}

.about-right-col {
  height: 100%;
  width: 100%;
  margin-left: 2em;
}
.about-par {
  margin-left: 2em;
  padding-top: 1em;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.link {
  text-decoration: none;
  color: rgb(12, 12, 12);
  margin-left: 0.5em;
}
.link1 {
  text-decoration: none;
  font-weight: 700;
  color: white;
}
/* Education*/
.schoolName {
  color: white;
  margin-top: 0;
  font-weight: 400;
}
.diplomTitle {
  color: #061149;
  margin-top: 0;
  font-size: large;
  font-weight: 800;
  font-family: "PT Sans", cursive;
}
/* Contact Page */
.contact-body {
  background: #fc466b;
  background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
  background: linear-gradient(to right, #3f5efb, #fc466b);
  margin: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  padding-top: 2em;
  justify-content: center;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  margin-top: 10vh;
  width: 90%;
  height: 80%;
  border-radius: 10px;
 
}
.tab i{
  margin: auto 2.5em;
  font-size: 2rem;
  font-weight: 700;
  color: #00d8ff;
}
.tab1 i{
  margin: auto 2.5em;
  font-size: 2rem;
  font-weight: 700;
  color: #a6120d;
}
.tab2 i{
  margin: auto 2.5em;
  font-size: 2rem;
  font-weight: 700;
  
}
.category-tabs {
  background: #f0f2f3;
}
.projects-grid {
  width: 80%;
  margin: 10vh auto;
}
.section {
  background: #9dc7ce;
  height: 85vh;
}
.card {
  width: 70%;
  margin: auto;
}
.card1 {
  width: 70%;
  margin: 4vh auto;
}
.cardTitle {
  background: url('./components/images/AppLogo.png') center / cover;
  height: 30vh;
}
.cardTitle1 {
  background: url('./components/images/AppLogo1.png') center / cover;
  height: 30vh;
}
.cardText {  
  font-weight: 500;
  font-size: 12px;
  color: black;
}

.form {
  width: 70%;
  margin:15vh auto;
 }
.form h3 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Anton", cursive;
  color: white;
}
.form input {
  padding: 1em;
}
.form textarea {
  padding: 1.5em;
}
.me {
  font-family: "Anton", cursive;
  font-size: 36px;
  color: white;
  font-weight: 800;
  margin: 1em;
}
.contact-img {
  height: 250px;
  border: 1.5px solid rgb(96, 81, 185);
  border-radius: 10px;
  margin-top: 2em;
}
/* Success page */
.success-body {
  background: #fc466b;
  background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
  background: linear-gradient(to right, #3f5efb, #fc466b);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-container {
  margin: 40vh auto;
  width: 25%;
  height: 15vh;
  text-align: center;
  justify-content: center;
  padding-top: 2em;
  background: white;
  color: blue;
  font-weight: 800;
  border-radius: 10px;
  font-family: 'Oxygen', 'cursive';
}
.contact-list {
  width: 80%;
  margin-top: 2em;
}
.separate {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.contact-list i {
  font-size: 3rem;
  padding-right: 5rem;
  color: white;
}
.contact-list span {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  font-family: 'Anton';
}

@media only screen and (max-width: 1024px) {
  .projects-grid {
  width: 100%;
  margin: 5vh auto;
}
.section {
  background: #9dc7ce;
  height: 100%;
}
  .about-body {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  margin: auto;
  background-size: cover;
  width: 100%;
  top: 0;
  padding: 0.7em;
  justify-content: center;
}
.contact-body {
  background: #fc466b;
  background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
  background: linear-gradient(to right, #3f5efb, #fc466b);
  margin: auto;
  width: 100%;
  height: auto;
  padding-top: 2em;
  justify-content: center;
}
  .about-grid {
  margin-bottom: 5vh;
  margin: 2vh auto;
  width: 96%;
  height: 80%;
  border-radius: 7px;
  
}
.left-par {
  background: rgb(163, 158, 238);
  padding: 0.5em;
  height: 100%;
  border-radius: 24px;
}
.left-par p {
  font-size: 13px;
  font-weight: 600;
  color: rgb(42, 6, 6);
}
.jobDesc {
  font-size: 13px;
  font-weight: 500;
  color: rgb(42, 6, 6);
}
.paragraph{
  padding-top: 2em;
}
#title {
  font-size: 14px;
  font-weight: 600;
  color: rgb(24, 7, 4);
}
.skill {
  display: flex;
  margin-left: 0.4em;
  color: #eefb3f;
  font-size: 12px;
}
  .avatar-img {
    height: 350px;
    padding: 1em;
    margin: auto;
    border-radius: 50%;
  }
  .banner-text {
    padding: 1em;
  }
  .banner-text h2 {
    padding: 0.7em;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .social-links {
    justify-content: space-between;
    width: 80%;
    display: flex;
    margin: auto;
    font-size: 0.7rem;
  }
  .form {
  width: 80%;
  margin:15vh auto;
 }
 .form h3 {
  font-size: 24px;
  font-weight: 700;
 }
 .card-container {
  margin: 40vh auto;
  width: 30%;
  height: 15vh;
  text-align: center;
  justify-content: center;
  padding-top: 2em;
  background: white;
  color: blue;
  font-weight: 800;
  border-radius: 10px;
  font-family: 'Oxygen', 'cursive';
}
.separate {
  border-top: 4px dotted white;
  width: 50%;
  margin: auto;
}
.contact-list i {
  font-size: 2rem;
  padding-right: 5rem;
  color: white;
}
.contact-list span {
  font-size: 1rem;
  color: white;
  font-weight: 700;
  font-family: 'Anton';
}
.contact-list {
  width: 100%;
  margin-top: 2em;
}

}
@media only screen and (max-width: 500px) {
  .projects-grid {
    margin: 3vh auto;
  }
  .card {
  width: 90%;
  margin: auto;
}
.tab i{
  margin: auto 0.4em;
  font-size: 2rem;
  font-weight: 700;
  color: #00d8ff;
}
.tab1 i{
  margin: auto 0.4em;
  font-size: 2rem;
  font-weight: 700;
  color: #a6120d;
}
.tab2 i{
  margin: auto 0.4em;
  font-size: 2rem;
  font-weight: 700;
  
}
  .about-body {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  margin: auto;
  background-size: cover;
  width: 100%;
  top: 0;
  padding: 0;
  justify-content: center;
}
.about-grid {
  margin-bottom: 5vh;
  margin: 2vh auto;
  width: 96%;
  height: 80%;
  border-radius: 7px;
  
}
.left-par {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  padding: 0.5em;
  height: 100%;
  border-radius: 24px;
}
.schoolName {
  color: rgb(34, 12, 12);
  margin-top: 0;
  font-weight: 600;
}
.right-side {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  border-radius: 24px;
   
}
  .dev-name {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #052442;
  }
  .banner-text {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
  }
  .education {
    margin-left: 1em;
    font-size: 1.5rem;
    font-weight: 700;
    color: brown;
    font-family: "PT Sans", cursive;
  }
  .rate {
    margin-left: 4em;
    color: brown;
  }
  .diplomTitle {
    color: #3f5efb;
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
    font-family: "PT Sans", cursive;
  }
  .title {
    font-size: 14px;
  }
  .about-left-col {
    padding-left: 0.4em;
  }
  .avatar-img {
    height: 220px;
    padding: 1em;
    margin-bottom: 1em;
    margin: auto;
    border-radius: 50%;
  }
  .banner-text h2 {
    padding: 0.4em;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: "PT Sans", cursive;
  }
  .social-links {
    justify-content: space-between;
    width: 90%;
    display: flex;
    margin: auto;
    font-size: 0.5rem;
  }
  .social-links i {
  color: white;
  font-size: 2rem;
  
}
  .banner-text p {
    color: white;
    font-size: 1rem;
    padding: 1em;
  }
  .banner-text hr {
    border-top: 2px solid white;
    width: 90%;
    margin: auto;
  }
  .about-par {
    margin-left: 1em;
    padding-top: 1em;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .card-container {
  margin: 40vh auto;
  width: 55%;
  height: 15vh;
 
}
.me {
  font-size: 2rem;
}
.form {
  width: 90%;
  margin:5vh auto;
 }
 .form h3 {
  font-size: 16px;
  font-weight: 700;
 }
 .contact-list i {
  font-size: 1.3rem;
  padding-right: 1.5rem;
  color: white;
}
.contact-list span {
  font-size: 1rem;
  color: white;
  font-weight: 700;
  font-family: 'Anton';
}
.contact-list {
  width: 100%;
  margin-top: 2em;
}
.about-grid {
  margin-bottom: 5vh;
  margin: 2vh auto;
  width: 100%;
  height: 80%;
   
}
}
@media only screen and (max-width: 400px) {
.contact-list span {
  font-size: 0.9rem;
  color: white;
  font-weight: 600;
  font-family: 'Anton';
}
.contact-list {
  width: 100%;
  margin-top: 2em;
}
.about-grid {
  margin-bottom: 5vh;
  margin: 2vh auto;
  width: 100%;
  height: 80%;
   
}
.contact-list i {
  font-size: 1rem;
  padding-right: 1rem;
  color: white;
}
}